.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
}

.line {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 25px;
  height: 2px;
  background-color: var(--white);
  transition: 0.8s;
  border-radius: 1px;
}

.line:nth-child(2) {
  position: absolute;
  top: 7px;
}

.line:nth-child(3) {
  position: absolute;
  top: 12px;
}

.line:first-child.open {
  transform: rotate(-45deg) translate(-0.7rem, -0.1rem);
  background-color: var(--primary);
}

.line:nth-child(2).open {
  opacity: 0;
  background-color: var(--primary);
}

.line:nth-child(3).open {
  transform: rotate(45deg) translate(-0.5rem, 0.2rem);
  background-color: var(--primary);
}
