.info__clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4rem;
}

@media (max-width: 443px) {
  .info__clients {
    margin-top: 3rem;
  }
}

.info__clients .btn-individual,
.info__clients .btn-corporate {
  color: var(--white);
  letter-spacing: 1px;
}

.info__clients .btn-individual:hover,
.info__clients .btn-corporate:hover {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: all 0.3 ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 575px) {
  .info__clients .btn-individual,
  .info__clients .btn-corporate {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 443px) {
  .info__clients .btn-individual,
  .info__clients .btn-corporate {
    margin: 0.6rem 0;
  }
}

.info__clients .btn-individual {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  transition: background-color 0.3s ease-in-out;
}

.info__clients .btn-corporate {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  transition: background-color 0.3s ease-in-out;
}
