.contact {
  min-height: 75vh;
  padding: 2vh 0;
  margin-top: 4rem;
}

.contact__about {
  margin: 4rem auto;
}

.contact > .form {
  max-width: 50%;
  margin: 0 auto 4rem;
  padding: 2.3rem;
}

@media (max-width: 900px) {
  .contact > .form {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .contact > .form {
    padding: 5rem;
  }
}

.underline {
  text-decoration: underline;
}
