/* VARIABLES */
:root {
  /* breakpoints */
  --small: 443px;
  --mobile: 575px;
  --tablet: 900px;
  --laptop: 1200px;
  --desktop: 1441px;
  --ultra: 1921px;

  /* colors */
  --primary: #002b12;
  --white: #ffffff;
  --teriary: #ecc96e;
  --secondary: #69502b;
  --grey: #f2f2f2;
}

/* fonts */
@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url(/assets/fonts/Roboto-Light.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url(/assets/fonts/PlayfairDisplay.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto-Light", "Calibri", sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeSpeed;
}

section {
  min-height: 100vh;
  padding: 2vw 12vw 1vw;
}

@media (max-width: 1441px) {
  section {
    padding: 2vw 8vw;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 2vw 6vw;
  }
}

@media (max-width: 575px) {
  section {
    padding: 4vw 8vw;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  display: inline-block;
  background-color: var(--teriary);
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7rem 1.4rem;
  border: none;
  cursor: pointer;
}

.heading {
  font-family: "PlayfairDisplay", san-serif;
  font-size: clamp(1.4rem, calc(12px + 1.5vw), 1.6rem);
  color: var(--secondary);
  text-transform: uppercase;
  margin: 3rem 0;
  text-align: center;
}

h3 {
  text-align: center;
}

.paragraph {
  font-size: clamp(1rem, calc(12px + 0.5vw), 1.5rem);
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1.2px;
  text-indent: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paragraph a {
  text-decoration: underline;
}

.paragraph span {
  text-decoration: underline;
}

.info__alert {
  font-size: clamp(1.1rem, 10px + 0.7vw, 1.7rem);
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
