/* VARIABLES */
:root {
  /* breakpoints */
  --small: 443px;
  --mobile: 575px;
  --tablet: 900px;
  --laptop: 1200px;
  --desktop: 1441px;
  --ultra: 1921px;

  /* colors */
  --primary: #002b12;
  --white: #ffffff;
  --teriary: #ecc96e;
  --secondary: #69502b;
  --grey: #f2f2f2;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-rendering: optimizeSpeed;
}

section {
  min-height: 100vh;
  padding: 2vw 12vw 1vw;
}

@media (max-width: 1441px) {
  section {
    padding: 2vw 8vw;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 2vw 6vw;
  }
}

@media (max-width: 575px) {
  section {
    padding: 4vw 8vw;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  display: inline-block;
  background-color: var(--teriary);
  color: var(--primary);
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7rem 1.4rem;
  border: none;
  cursor: pointer;
}

.heading {
  font-family: "Playfair Display", san-serif;
  font-size: clamp(1.4rem, calc(12px + 1.5vw), 1.6rem);
  color: var(--secondary);
  text-transform: uppercase;
  margin: 3rem 0;
  text-align: center;
}

h3 {
  margin: 1rem 0;
  text-align: center;
}

.paragraph {
  font-size: clamp(1rem, calc(12px + 0.5vw), 1.2rem);
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1.2px;
  text-indent: 0.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paragraph a {
  text-decoration: underline;
}

.paragraph span {
  text-decoration: underline;
}

.info__alert {
  font-size: clamp(1.1rem, 10px + 0.7vw, 1.7rem);
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

ol {
  font-size: clamp(1rem, calc(12px + 0.5vw), 1.2rem);
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

.logo {
  cursor: pointer;
  z-index: 100;
}

.underline {
  text-decoration: underline;
}

.no-list-style {
  list-style: none;
}

.list-style-letters {
  list-style: upper-alpha;
  margin-left: 1rem;
}

.list-style-letters li {
  margin: 1rem 0;
  line-height: 1.5;
}

.list-item {
  list-style-type: " —";
  margin: 1rem 0 0 2rem;
  padding-left: 1rem;
}

.line-height {
  line-height: 1.6;
}

.line-height a:hover {
  text-decoration: underline;
}

@media (min-width: 575px) {
  .list-indent {
    margin-left: 3rem;
  }
}

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: clamp(0.625rem, 0.1563rem + 2.5vw, 0.9375rem);
  list-style-type: none;
  margin: 4rem 0;
}

@media (max-width: 900px) {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li::after {
  margin-right: 10px;
  content: " / ";
}

.breadcrumb .current {
  font-weight: bold;
}

.padding {
  padding: 2vh 0;
}
